image_id                 = "*"
cloud_id                 = "*"
folder_id                = "*"
zone                     = "ru-central1-a"
service_account_key_file = "/home/guzel/key.json"
subnet_id                = "*"
public_key_path          = "/home/guzel/.ssh/ubuntu.pub"
resource_zone            = "ru-central1-a"
private_key              = "/home/guzel/.ssh/ubuntu"
